body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, footer{
    background-color:#6C6F7D ;
}

.site-title{
    color: #F1FAEE;
}

#my-image{
    box-shadow: 0px 0px 2px 1px black;
}

section ul{
    list-style: square;
}

li:nth-child(odd){
    background-color:#B9CFD4;
}