*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
background-color:lightblue;
}

.wrapper{
    margin: 0px auto;
    width: 1050px;
    background-color: lightcyan;
}

.centered{
    position: absolute;
    font-size: 50px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -725%);
}

.container{
    margin: 0% auto;
    max-width: 1500px;
    padding-right: 15px;
}

.wide-img{
    margin-top: -1%;
}

nav ul{
    font-size: 25px;
    list-style-type: none;
    padding: 0%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    margin-right: 250px;
    padding: -250px;
}

/* display: inline-block allows to set a width and height on the element. */

.small-img{
    float: left;
    padding-left: 10px;
    padding-right: 17px;
    padding-bottom: 10px;
}

.h1-title{
    padding-bottom: 10px;
    padding-left: 10px;
    transform: translate(0%, 60%);
}

h1{
    padding-left: 10px;
}

.p1-article{
    margin-right: 10px;
}

.facts{
    padding-left: 10px;
}

.factslist{
    padding-left: 20px;
}

form{
    border: 100px black;
    padding: 10px;
}

form input{
  width: 95%;
  padding: 10px;
  border: 1px solid grey;
  margin-bottom: 30px;
}

footer{
    text-align: end;
}
