*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
background-color:lightblue;
}

.wrapper{
    margin: 0px auto;
    width: 1050px;
    background-color: lightcyan;
}

.centered{
    position: absolute;
    font-size: 50px;
    color: #fff;
    transform: translate(125%, -250%);
}

.container{
    margin: 0% auto;
    max-width: 1500px;
    padding-right: 15px;
}

.wide-img{
    margin-top: -1%;
}

nav {
    line-height: 0px;
    font-size: 25px;
    text-align: center;
  }

nav li{
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
}

/* display: inline-block allows to set a width and height on the element. */

.vl{
    border-left: 6px solid black;
    height: 50px;
    position: absolute;
    left: 42%;
    top: 350px;
}

.vl{
    border-left: 6px solid black;
    height: 40;
    position: absolute;
    left: 42%;
    top: 350px;
}

.vl-2{
    border-left: 6px solid black;
    height: 50px;
    position: absolute;
    left: 58%;
    top: 350px;
}

.small-img{
    float: left;
    padding-left: 10px;
    padding-right: 17px;
    padding-bottom: 20px;
}

.h1-title{
    padding-bottom: 10px;
    padding-left: 10px;
    transform: translate(0%, 60%);
}

h1{
    padding-left: 10px;
}

.p1-article{
    margin-right: 10px;
}

.facts{
    padding-left: 10px;
}

.factslist{
    padding-left: 20px;
}

form{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    padding-top: 30px;
}

form input,
form textarea {
  width: 97%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

/* Textarea width to adjust form boxes*/

form input[type="submit"] {
    background-color: lightcyan;
    border: 1px solid black;
    width: 60px;
    padding-left: 10px;
}

form textarea {
    height: 100px;
  }

.choice-label{
    display:inline-flex;
    align-items:flex-start
}

.choice-question{
    font-weight: bolder;
}

footer{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    text-align: end;
}