body{
background-color:lightblue;
}

.wrapper{
    margin: 0px auto;
    width: 1000px;
    background-color: lightcyan;
}

.centered{
    position: absolute;
    font-size: 50px;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -475%);
}

.container{
    margin: 0% auto;
    max-width: 1500px;

}

.wide-img{
    margin-top: -1%;
}

.small-img{
    float: left;
    padding-left: 10px;
    padding-right: 17px;
    padding-bottom: 10px;
}

.h1-title{
    padding-bottom: 10px;
    padding-left: 10px;
}